.btnNext{
    position: absolute;
    top: calc(50% - 1rem - 3vh);
    right: 0;
    color: black;
    transition: 1s;
    border: 0px solid transparent;
    background-color: transparent;
    width: 3.9vw;
    left: calc(100% - 3.9vw - 0.78vw);
    
    
    
}
.btnNext:after{
    content: '>';
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    color: white;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    
}
.btnPrev{
    position: absolute;
    top: calc(50% - 1rem + 3vh);
    right:0;
    z-index: 1;
    color: black;
    transition: 1s;
    border: 0px solid transparent;
    background-color: transparent;
    width: 3.9vw;
    left: calc(100% - 3.9vw - 0.78vw);
    

    
}
.btnPrev:after{
    content: '<';
    font-family: 'Nanum Gothic', sans-serif ;
    font-size: 1rem ;
    color: white;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    
}

.coverBrovn{
    display: flex;
    width: 200px;
    object-fit: cover;
    margin: 0 0 0 calc(-6.5px + 8.59vw);
    height: 35.23vw;
}
.imageSlide{
    height: 35.23vw;
}
.wraperText{
    padding: 4.68vw 3.25vw;
    color: #fff;
}
